*{
    margin: 0;
    font-family: inherit;
    box-sizing: inherit;
}
.Container{
    height: 100vh;
    display: flex;
}
.side_header{
    flex: 0.13;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    background-color: yellow;
    /* box-shadow: 0 10px 100px rgb(0 0 0 / 30%); */
}
.name_logo{
    display: flex;
    flex-direction: column;
    flex:0.5; 
    font-size: 23px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.5px;
    justify-content: center;
    align-items: center;
    color: #334;
}
.img{
    flex:0.4;
    border-radius: 50%;
}
.name{
    flex:0.87;
    display: flex;
    align-items: center;
    text-align: center;

}
.info_headings{
    flex: 0.87;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
}
.name_1{
    justify-content: center;
    text-align: center;
    flex:0.22;
    display: flex;
    font-weight: 549.9;
    align-items: center;
    color: #333;
}
.main{
    flex: 0.9;
    display: flex;
    background-color: #333;
}
body {
    box-sizing: border-box;
    position: relative;
    line-height: 1.5;
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Source Sans Pro',sans-serif;
}

.name_1:active , .name_1:hover{
    font-size: 119%;
    transition-duration: 0.15s;
    color: black;
    font-weight: 700;
}
.name:active , .name:hover{
    font-size: 108%;
    transition-duration: 0.15s;
    color: black;
}