*{
    margin: 0;
    font-family: inherit;
    box-sizing: inherit;
    flex-shrink: 0;
}
.Container{
    display: flex;
    height: 100vh;
    /* overflow: hidden; */
}
.side_header{
    flex: 0.13;
    /* padding: 10px 10px; */
    display: flex;
    flex-direction: column;
    background-color: yellow;
    /* align-self: flex-start; */
  
}
.name_image{
    display: flex;
    flex-direction: column;
    flex:0.5; 
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.5px;
    justify-content: center;
    align-items: center;
    color: #334;
}
.img{
    flex:0.4;
    border-radius: 50%;
}
.name{
    flex:0.5;
    display: flex;
    align-items: center;
    text-align: center;

}
.info_headings{
    flex: 0.87;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
}
.details{
    justify-content: center;
    text-align: center;
    flex:0.22;
    display: flex;
    font-weight: 549.9;
    align-items: center;
    color: #333;
}
.main{
    padding-left: 5px;
    flex: 0.87;
    background-color: #333;
    color: aliceblue;
    /* position: -webkit-sticky; */
    /* position: sticky;
    top: 0; */
    overflow-y: scroll;
    
}

body {
    box-sizing: border-box;
    position: relative;
    line-height: 1.5;
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Source Sans Pro',sans-serif;
}

.details:active , .details:hover{
    font-size: 110%;
    transition-duration: 0.15s;
    color: black;
    font-weight: 700;
}
.name:active , .name:hover{
    font-size: 108%;
    transition-duration: 0.15s;
    color: black;
}
::-webkit-scrollbar {
    background: #333;
  }
  
  /* Style the scrollbar handle */
  ::-webkit-scrollbar-thumb {
    background: #333;
  }
 